<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - VacinaPet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="container">
    {% if g.tutor %}
      <nav class="navbar navbar-expand-lg mb-5 shadow-sm">
          <div class="container-fluid">
            <a class="navbar-brand fs-4" href="{{url_for('pets.lista')}}">VacinaPet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link">{{ g.tutor[1]}}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('auth.logout')}}">Sair</a>
                  </li>
              </ul>
            </div>
          </div>
      </nav>
    {% endif %}
    {% block content %} {% endblock %}
    {% if g.tutor %}
      <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    {% endif %}
    {% block scripts %} {% endblock %}
</body>
</html>