<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - VacinaPet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if g.tutor %}
        <nav class="navbar container">
            <a class="logo" href="{{ url_for('pets.lista') }}">VacinaPet</a>
            <div class="nav-item">
                <span>{{ g.tutor[1] }}</span>
                <a href="{{ url_for('auth.logout') }}">Sair</a>
            </div>
        </nav>
    {% endif %}
    {% block content %} {% endblock %}
</body>
</html>