<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacinaPet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body-bg">
    <h1 class="titulo">VacinaPet</h1>
    <form class="form" method="'POST'">
        <div class="form-group">
            <label class="form-label" for="tx-vacina">Vacina</label>
            <textarea class="form-control" name="vacina" id="tx-vacina"></textarea>
        <div class="btn-group">
            <button class="btn">Salve</button>
        </div>
    </form>
</body>
</html>